
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<ul>
    <li>
        <a asp-controller="Pages" asp-action="Pictures">Pictures</a>
    </li>
</ul>