
@{
    ViewData["Title"] = "Pictures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pictures</h1>

<p>More pictures to be added eventually.</p>
<br />

<img src="https://via.placeholder.com/500" />